{% extends 'base.html.twig' %}

{% block title %}Modification du jour
	{{ day.name }}
{% endblock %}

{% block body %}
	<h1>Modification du jour
		{{ day.name }}</h1>
	<div class="row">
		{{ form_start(formView) }}
		{{ form_errors(formView) }}
		{{ form_widget(formView) }}
		<button type="submit" class="btn btn-primary">
			Créer le jour
		</button>
		{{ form_end(formView) }}
	</div>
{% endblock %}
