{% extends 'base.html.twig' %}

{% block title %}planning de l'agent
	{{ user.name}}
{% endblock %}

{% block body %}

	<h1>Planning de l'agent
		{{ user.name|upper }}
		du
		{{ day.date|date("d/m/Y")}}</h1>

	<a href="/day/{{ day.id }}/{{ user.id }}/edit" class="btn btn-primary">Attribuer créneaux et postes</a>

	<h2>Listes des créneaux de la journée</h2>
	<ul>
		{% for slot in user.slots %}
			<li>
				{{ slot.name }}
				{% for task in user.tasks %}
					{{ task.name }}
				{% endfor %}
			</li>
		{% endfor %}
	</ul>
</div>{% endblock %}
